:root {
    --main-color-indigo: #5c6bc0;
    --main-color-pink: #ec407a;
}

html,
body {
    height: 100%;
    font-family: 'Nunito';
    font-size: 1rem;
}

a:not(.btn):hover {
    color: var(--main-color-pink) !important;
}

a {
    color: var(--main-color-indigo);
    transition: .5 all ease;
    cursor: pointer;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/
    "\e151";
}

a.desc:after {
    content: /*"\e114"*/
    "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/* align the logout "link" (button in form) of the navbar */

.nav li>form>button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}

.help-block {
    padding: 0 .875rem;
}

.navbar-brand {
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #414852;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}


/** CUSTOM CSS*/

.vs__search,
.vs__search:focus,
.vs__selected {
    margin-top: 0;
    border-radius: 1.25rem;
}

.vs__dropdown-toggle {
    padding: .5rem .1875rem;
    border-radius: 1.25rem;
}

.vs--open .vs__dropdown-toggle {
    border-radius: 1.25rem;
}

.card,
.modal-content,
.media-list-photo {
    border-radius: .625rem;
}

.modal-content {
    overflow: hidden;
}

.form-control {
    border-top-color: #ccc !important;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    padding: .5rem .8125rem;
}

.form-control:focus {
    box-shadow: unset;
    border-color: #2196F3 !important;
}

.input-group-append {
    margin-left: 0;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    cursor: pointer;
    transition: .5 all ease;
}

.input-group-append:hover {
    opacity: .8;
}

.input-group-text {
    padding: .5rem .8125rem;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

.media-list-photo {
    display: block;
    overflow: hidden;
}

.media-list-photo img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.media-list-photo:hover img {
    -webkit-transform: rotate(5deg) scale(1.2);
    transform: rotate(5deg) scale(1.2);
}

.star-rating {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    justify-content: left;
}

.star-rating .back-stars {
    display: flex;
    color: #ccc;
    position: relative;
    text-shadow: 1px 1px 2px #aaa;
}

.star-rating .front-stars {
    display: flex;
    color: var(--main-color-pink);
    /**#FFBC0B*/
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all .5s
}

.star-rating .rating-number {
    font-size: 1rem;
}

.pagination .page-link {
    background: var(--main-color-indigo);
    transition: .5 all ease;
    color: #fff;
}

.pagination .page-link:hover {
    background: var(--main-color-pink);
}

.leaflet-marker-icon {
    -webkit-filter: drop-shadow(0px 0px 3px #333);
    filter: drop-shadow(0px 0px 3px #333);
}

.border-radius-3 {
    border-radius: .625rem;
}

.border-radius-2 {
    border-radius: .3125rem;
}

.border-radius-1 {
    border-radius: .1875rem;
}

.border-radius-0 {
    border-radius: 0rem;
}